.login{
    height: 100vh;
    padding: 20px 8%;
    background-image:linear-gradient(#0000007e,#0000007e), url(../../assets/background_banner.jpg);
}
.form-logo{
    width: 125px;
}
.login-form{
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 60px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;

}

.login-form input{
    width: 100%;
    height: 50px;
    padding: 16px 20px;
    background-color: #333;
    color: wheat;
    margin: 12px 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
}
.login-form::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    width: 100%;
    padding: 16px;
    background-color: #e5091e;
    color: white;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    margin-top: 20px;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13;
    color: #b3b3b3;

}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input {
    width: 20px;
    height: 20px;
}

.form-switch{
  margin-top: 20px;
  color: #737373;
}
.form-switch span{
  margin-left: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
/* Tablets */
@media (max-width: 768px) {
  .login-form {
    padding: 40px 30px;
  }

  .form-logo {
    left: 20px;
    width: 120px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .login {
    padding: 10px;
    
  }

  .login-form {
    width: 100%;
    padding: 20px 20px;
    margin-top: 30px;
  }

  .login-form h2 {
    font-size: 26px;
  }

  .form-logo {
    width: 100px;
    left: 15px;
  }
}
.loading-spinner{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner img{
  width: 60px;
}