.hero {
  position: relative;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
  mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
position: absolute;
width: 100%;
padding-left: 6%;
bottom: 0;
}

.caption-img{
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero-caption p{
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}
.hero-desc {
  max-width: 700px;
  margin-bottom: 30px;
  font-size: 17px;
}

.hero-btn {
  display: flex;
  gap: 10px;
}

.hero-btn button {
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
}

.btn-dark {
  background: #6d6d6eb3;
  color: white;
}

.titleCard{
  margin-left: 90px;
}

@media (max-width: 768px) {
  .hero {
    height: 80vh; 
   } /* viewport hight */

  .hero-caption {
    bottom: 35%;
    left: 4%;
    max-width: 90%;
  }

  .caption-img {
    width: 280px;
  }
}