.title-card{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title-card h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
}
/* .card img{
    width: 240px !important;
    border-radius: 4px;
    cursor: pointer;
} */